/* Dark mode button */

.dark-box {
    float: right;
    padding: 22px;
    overflow: hidden;
    background-color: #ffffff;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-right: 10px;
    border-radius: 10px;
    transition: transform 0.3s ease;
    animation: scale-up-center 0.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    cursor: pointer; /* Add this line to make it clear that it's clickable */
}

.dark-box:hover {
    transform: scale(1.1);
}

.dark-box .material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
    justify-content: center;
    display: block;
}
