/* CSS to manage navbar */
/* Remember: Adding mobile version soon */

ul {
  list-style-type: none;
  padding: 10px;
  overflow: hidden;
  background-color: #ffffff;
  display: inline-flex;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 10px;
  border-radius: 10px;
  transition: transform 0.3s ease;
  animation: scale-up-center 0.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  overflow-x: auto
}
  
li {
  float: left;
}
  
li a {
  display: block;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: medium;
}

.active{
  background-color: #1857bd;
  color: rgb(207, 207, 207);
  border-radius: 10px;
  display: block;
}

ul:hover{
  justify-content: center;
  border-width: 1px;
  border-color: red;
}

@keyframes scale-up-center {
  0% { transform: scale(0.5); }
  100% { transform: scale(1); }
}

@media (max-width: 600px) {
  .navbar-container {
    width: 100%; /* Full width for small screens */
    overflow-x: auto;
  }
}